//
// Variables
// --------------------------------------------------


// Accent colors
// -------------------------

@orange:                 #f58d00;
@bordeaux:							#923882;


// Scaffolding
// -------------------------
@bodyBackground:        @white;
@textColor:             @grayDark;


// Links
// -------------------------
@linkColor:             @orange;
@linkColorHover:        darken(@linkColor, 15%);


// Typography
// -------------------------

@sansFontFamily:        Verdana, Geneva, sans-serif;

@serifFontFamily:       @sansFontFamily;


@baseFontSize:          14px;
@baseFontFamily:        @serifFontFamily;
@baseLineHeight:        20px;
@altFontFamily:         @sansFontFamily;

@headingsFontFamily:    @baseFontFamily; 
@headingsFontWeight:    normal;    // instead of browser default, bold
@headingsColor:         inherit; // empty to use BS default, @textColor


// Inverted navbar
@navbarInverseBackground:                @bordeaux;
@navbarInverseBackgroundHighlight:       transparent;
@navbarInverseBorder:                    transparent;

@navbarInverseLinkColor:                 @white;

